

 
 <section class="intro-single">
    <head>
      <title></title>
    </head>
    <body>
    
        <div class="col">
          <!-- <button (click)="onretour()" id="le">return</button> -->
          
          <button mat-raised-button (click)="oncreateestimation()" mat-fab color="warn" aria-label="Example icon button with a home icon" id="estimate"> 
           Estimate
          </button>
  
        </div>
  
  
  
        <div class="col">
       
          
          
        </div>
    
      
  </body>
  </section>         
            
  
  
  
  
  
  
  
  
  
  
  
  
   <!-- <div class="product tumbnail thumbnail-3">
         
          <img  class="img-responsive"   src="{{a.img}}">
      
    
     <div class="caption"> -->