<div class="card mx-4 my-4">

    <div class="card-header">

        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <input type="text" class="form-control" [(ngModel)]="message.username" placeholder="entre username">

                <!--  <div [(ngModel)]="message.text"></div>
 --> <button class="btn btn-success" type="button" (click)="connecter()" *ngIf="!connecte"
                    [disabled]=!message.username>Connecter</button>
            </li>
            <li class="nav-item mr-2">
                <button class="btn btn-warning" type="button" (click)="deconnecter()"
                    *ngIf="connecte">DeConnecter</button>

            </li>
        </ul>
    </div>
    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overFlow:scroll;height:360px;"
        *ngIf="connecte">

        <ul class="list-group">
            <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
               <span *ngIf="message.type == 'nv_user'" >
                {{message.date | date:'shortTime'}}
                {{message.text}}
               <span [ngStyle]="{'color':message.color}"> {{message.username}}</span>

               </span>
               <span *ngIf="message.type=='MESSAGE'" >
                {{message.date | date:'shortTime'}} - 

              <span [ngStyle]="{'color':message.color}" >  {{message.username}} </span> a dit : <br>
                {{message.text}}
            </span>
            </li>

        </ul>

    </div>
    <div class="card-footer" *ngIf="connecte">
        <div class="card-footer">

            <form class="form-inline">
                <div class="form-group mx-3">
                    <input type="text" class="form-control" [(ngModel)]="message.text" placeholder="ecrire message"
                        name="text" (keyup)="ecrireEvent()">


                </div>
                <button class="btn btn-primary" type="submit" (click)="envoyerMessage()">Envoyer</button>
            </form>
            <div style="color:gray;">&nbsp;&nbsp;&nbsp;
                {{ ecrire}}
            </div>
        </div>


    </div>