<app-header></app-header>
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
<body class="inner-pages hd-white">
    <div id="wrapper">

        <header id="header-container">
            <!-- Header -->
            <div id="header">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="index-2.html"><img src="images/logo-red.svg" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        </div>
                </div>
            </div>
            <!-- Header / End -->
        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>Reset Password </h1>
                    <h2><a href="/">Home </a> &nbsp;/&nbsp; <a href="/">login</a></h2>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->
        <div id="login">
            <div class="login">
                <form name="form" #forgot="ngForm" (ngSubmit)="forgotPassword()" autocomplete="off">
                    
                    <div class="form-group">
                        <label >Your Email</label>
                        <input  id="login" name="login" placeholder="Email" ngModel
                        required #e="ngModel" [(ngModel)]="form.emailUser" class="form-control" type="email">
                        <a class="alert alert-danger" *ngIf="e.invalid && e.touched">
                            Email is a Required Field !
                          </a>
                    </div>
                    
                    <div id="pass-info" class="clearfix"></div>

 
      <button type="submit" class="btn_1 rounded full-width add_top_30" [disabled]="forgot.invalid" value="Send Mail"
      (click)="forgotPassword()">Send Changes</button>

       

       

                    <div class="text-center add_top_10">Dont have an account yet ? <strong><a href="/">Sign Up</a></strong></div>
                </form>
            </div>
        </div>

        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      
    </div>
</body>

<app-footer></app-footer>

