<header id="header-container">
    <!-- Header -->
    <div style="box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%);" id="header">
        <div class="container container-header">
            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="index.html"><img src="assets/front-assets/images/logo-red.svg" alt=""></a>
                </div>
                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/annonces">Annonces</a></li>
                        <li><a routerLink="/listfavoris">Favoris</a></li>
                    </ul>
                </nav>
                <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side d-none d-none d-lg-none d-xl-flex">

            </div>
            <!-- Right Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="header-user-menu user-menu add">
                <div class="header-user-name">
                    <span><img src="assets/front-assets/images/testimonials/ts-1.jpg" alt="">
                    </span>
                    <div style="color: black;">Hi, Mary!</div>
                </div>
                <ul>
                    <li><a href="user-profile.html"> Edit profile</a></li>
                    <li><a href="add-property.html"> Add Property</a></li>
                    <li><a href="payment-method.html"> Payments</a></li>
                    <li><a href="change-password.html"> Change Password</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
            <!-- Right Side Content / End -->

            <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                <!-- Header Widget -->
                <div class="header-widget sign-in">
                    <div>
                    </div>
                </div>
                <!-- Header Widget / End -->
            </div>
            <!-- Right Side Content / End -->

            <!-- lang-wrap-->
            <div class="header-user-menu user-menu add d-none d-lg-none d-xl-flex">
                <div class="lang-wrap">
                    <div class="show-lang"><span><i class="fas fa-globe-americas"></i><strong
                                style="color: black;">ENG</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                    <ul class="lang-tooltip lang-action no-list-style">
                        <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                        <li><a href="#" data-lantext="Fr">Francais</a></li>
                        <li><a href="#" data-lantext="Es">Espanol</a></li>
                        <li><a href="#" data-lantext="De">Deutsch</a></li>
                    </ul>
                </div>
            </div>
            <!-- lang-wrap end-->

        </div>
    </div>
    <div id="header" class="cloned unsticky">
        <div class="container container-header">
            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="index.html"><img src="assets/front-assets/images/logo-red.svg" alt=""></a>
                </div>
                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li><a routerLink="/home">Home</a>

                        </li>
                        <li>
                            <a routerLink="/annonces">Annonces</a>
                        </li>
                        <li>
                            <a routerLink="/listfavoris">Favoris</a>
                        </li>
                    </ul>
                </nav>
                <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side d-none d-none d-lg-none d-xl-flex">
                <!-- Header Widget -->

                <!-- Header Widget / End -->
            </div>
            <!-- Right Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="header-user-menu user-menu add">
                <div class="header-user-name">
                    <span><img src="assets/front-assets/images/testimonials/ts-1.jpg" alt=""></span>Hi, Mary!
                </div>
                <ul>
                    <li><a href="user-profile.html"> Edit profile</a></li>
                    <li><a href="add-property.html"> Add Property</a></li>
                    <li><a href="payment-method.html"> Payments</a></li>
                    <li><a href="change-password.html"> Change Password</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
            <!-- Right Side Content / End -->

            <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                <!-- Header Widget -->

                <div class="header-widget sign-in">
                    <div>



                    </div>
                </div>
                <!-- Header Widget / End -->
            </div>
            <!-- Right Side Content / End -->

            <!-- lang-wrap-->
            <div class="header-user-menu user-menu add d-none d-lg-none d-xl-flex">
                <div class="lang-wrap">
                    <div class="show-lang"><span><i class="fas fa-globe-americas"></i><strong>ENG</strong></span><i
                            class="fa fa-caret-down arrlan"></i></div>
                    <ul class="lang-tooltip lang-action no-list-style">
                        <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                        <li><a href="#" data-lantext="Fr">Francais</a></li>
                        <li><a href="#" data-lantext="Es">Espanol</a></li>
                        <li><a href="#" data-lantext="De">Deutsch</a></li>
                    </ul>
                </div>
            </div>
            <!-- lang-wrap end-->

        </div>
    </div>
    <!-- Header / End -->

</header>


<!-- <div id="signModal" class="login-and-register-form modal">
    <div class="main-overlay"></div>
    <div class="main-register-holder">
        <div class="main-register fl-wrap">
            <div data-dismiss="modal" aria-label="Close" class="close-reg">
                <i class="fa fa-times"></i>
            </div>
            <h3>Update <span>your <strong>Search</strong></span></h3>
            <div class="soc-log fl-wrap">
            </div>
            <div id="tabs-container">

                <div class="tab">
                    <div id="tab-1" class="tab-contents">
                        <div class="custom-form">
                            <form method="post" name="registerform" #editForm="ngForm">
                                <label>Description * </label>
                                <input name="password" type="password" ngModel="{{editRecherche?.keyword}}" value="">
                                <label>Location * </label>
                                <input name="email" type="text" ngModel="{{editRecherche?.location}}" value="">
                                <label>Bedrooms * </label>
                                <input name="email" type="text" ngModel="{{editRecherche?.bedRoom}}" value="">
                                <label>Bathrooms * </label>
                                <input name="email" type="text" ngModel="{{editRecherche?.bathroom}}" value="">
                                <label>Surface * </label>
                                <input name="email" type="text" ngModel="{{editRecherche?.minArea}}" value="">
                                <label>Garage * </label>
                                <input name="email" type="text" ngModel="{{editRecherche?.location}}" value="">
                                <button type="submit" (click)="UpdateRecherche(editForm.value)"
                                    class="log-submit-btn"><span>Update</span></button>
                                <div class="clearfix"></div>

                            </form>

                        </div>
                    </div>
                    <!--   <div class="tab">
                        <div id="tab-2" class="tab-contents">
                            <div class="custom-form">
                                <form method="post" name="form" class="main-register-form"
                                    id="main-register-form2 " #deleteForm="ngForm">
                                    <h5 class="modal-title" id="deleteModelLabel">Delete Recherche</h5>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this Search {{deleteRecherche?.keyword}}?</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <button (click)="onDeleteRecherche(deleteRecherche?.idSearchA)" class="btn btn-danger"
                                                data-dismiss="modal">Yes</button>
                                        </div>
                                    </div>
                                    <button type="submit" class="log-submit-btn"><span>Delete</span></button>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="wrapper">




    <div class="clearfix"></div>
    <!-- Header Container / End -->

    <!-- STAR HEADER SEARCH -->

    <!-- END HEADER SEARCH -->

    <!-- START SECTION POPULAR PLACES -->

    <!-- END SECTION POPULAR PLACES -->

    <!-- START SECTION FEATURED PROPERTIES -->
    <section class="featured portfolio bg-white-2 rec-pro full-l">
        <div class="container-fluid">
            <div class="sec-title">
                <h2><span>Mes </span>Recherches</h2>
                <p>Votre historique de Recherche</p>
            </div>

            <div class="row portfolio-items">
                <div *ngFor="let rech of Recherches"
                    class="item col-xl-6 col-lg-12 col-md-12 col-xs-12 landscapes sale">
                    <div class="project-single">

                        <!-- homes content -->
                        <div class="homes-content">

                            <!-- homes address -->
                            <h3><a href="single-property-1.html">{{ rech.keyword }}</a></h3>
                            <p class="homes-address mb-3">
                                <a href="single-property-1.html">
                                    <i class="fa fa-map-marker"></i><span>{{ rech.location }}</span>
                                </a>
                            </p>
                            <!-- homes List -->
                            <ul class="homes-list clearfix pb-3">
                                <li class="the-icons" hidden>
                                    <i class="flaticon-bed mr-2" aria-hidden="true"></i>
                                    <span>{{rech.idSearchA}} id</span>
                                </li>
                                <li class="the-icons">
                                    <i class="flaticon-bed mr-2" aria-hidden="true"></i>
                                    <span>{{rech.bedRoom}} Bedrooms</span>
                                </li>
                                <li class="the-icons">
                                    <i class="flaticon-bathtub mr-2" aria-hidden="true"></i>
                                    <span>{{rech.bathroom}} Bathrooms</span>
                                </li>
                                <li class="the-icons">
                                    <i class="flaticon-square mr-2" aria-hidden="true"></i>
                                    <span>{{rech.minArea}}m²</span>
                                </li>
                                <li class="the-icons">
                                    <i class="flaticon-car mr-2" aria-hidden="true"></i>
                                    <span>2 Garages</span>
                                </li>
                            </ul>
                            <div class="price-properties footer pt-3 pb-0">
                                <h3 class="title mt-3">
                                    <a href="single-property-1.html">{{rech.minPrice}} DT</a>
                                </h3>
                                <div class="compare">
                                    <a href="#" title="Mail">
                                        <i class="fa fa-envelope" style="color:pink"></i>
                                    </a>
                                    <a href="#" title="Update" (click)="OpenModal(rech,'edit')" data-toggle="modal" data-target="#updateRechercheModal">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a type="button" (click)="OpenModal(rech,'delete')" data-toggle="modal" data-target="#deleteRechercheModal">
                                        <i class="far fa-trash-alt" style="color:red"></i>
                                    
                                    </a>

                                    <button class="fa fa-envelope" (click)="OpenModal(rech,'edit')"></button>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updateRechercheModal" tabindex="-1" role="dialog"
                    aria-labelledby="RechercheEditModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateRechercheModalLabel">Edit Recherche
                                    : {{editRecherche?.keyword}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #editForm="ngForm">
                                    <div class="form-group">
                                        <label for="keyword">keyword</label>
                                        <input type="text" ngModel="{{editRecherche?.keyword}}" name="keyword"
                                            class="form-control" id="keyword" aria-describedby="emailHelp"
                                            placeholder="keyword">
                                    </div>
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" ngModel="{{editRecherche?.location}}" name="location"
                                            class="form-control" id="location" aria-describedby="emailHelp"
                                            placeholder="location">
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="idSearchA">idSearchA</label>
                                        <input type="text" ngModel="{{editRecherche?.idSearchA}}" name="idSearchA"
                                            class="form-control" id="idSearchA" aria-describedby="emailHelp"
                                            placeholder="idSearchA">
                                    </div>
                                    <div class="form-group">
                                        <label for="bedRoom">bedRoom</label>
                                        <input type="text" ngModel="{{editRecherche?.bedRoom}}" name="bedRoom"
                                            class="form-control" id="bedRoom" aria-describedby="emailHelp"
                                            placeholder="bedRoom">
                                    </div>
                                    <div class="form-group">
                                        <label for="bathroom">bathroom</label>
                                        <input type="text" ngModel="{{editRecherche?.bathroom}}" name="bathroom"
                                            class="form-control" id="bathroom" aria-describedby="emailHelp"
                                            placeholder="bathroom">
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="propertyType">propertyType</label>
                                        <input type="text" ngModel="{{editRecherche?.propertyType}}" name="propertyType"
                                            class="form-control" id="propertyType" aria-describedby="emailHelp"
                                            placeholder="propertyType">
                                    </div>
                                    
                                    <div class="form-group" hidden>
                                        <label for="status">status</label>
                                        <input type="text" ngModel="{{editRecherche?.status}}" name="status"
                                            class="form-control" id="status" aria-describedby="emailHelp"
                                            placeholder="status">
                                    </div>

                                    <div class="form-group">
                                        <label for="minArea">Surface</label>
                                        <input type="minArea" ngModel="{{editRecherche?.minArea}}" name="minArea"
                                            class="form-control" id="minArea" placeholder="Area">
                                    </div>

                                    <div class="form-group">
                                        <label for="tel">Prix</label>
                                        <input type="text" ngModel="{{editRecherche?.minPrice}}" name="Prix" class="form-control"
                                            id="Prix" name="Prix" placeholder="Prix">
                                    </div>
                                    <div class="modal-footer">

                                        <button (click)="UpdateRecherche(editForm.value)" data-dismiss="modal"
                                            class="btn btn-primary">Update </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteRechercheModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteModelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModelLabel">Delete Recherche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Search : {{deleteRecherche?.keyword}}?</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button (click)="onDeleteRecherche(deleteRecherche?.idSearchA)" class="btn btn-danger"
                                    data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="bg-all">
                <a href="properties-full-grid-1.html" class="btn btn-outline-light">View More</a>
            </div>
        </div>
    </section>
    <!-- END SECTION FEATURED PROPERTIES -->

    <!-- START SECTION WHY CHOOSE US -->

    <!-- END SECTION WHY CHOOSE US -->


    <!-- START SECTION AGENTS -->

    <!-- END SECTION AGENTS -->

    <!-- START SECTION TESTIMONIALS -->

    <!-- END SECTION TESTIMONIALS -->

    <!-- STAR SECTION PARTNERS -->

    <!-- END SECTION PARTNERS -->






</div>