
  <section class="intro-single">
    <head>
      <title></title>
    </head> 
  <body>
  <h1 mat-dialog-title> Estimer votre Bien </h1>
  <mat-dialog-content>
  <mat-dialog-actions>
    <form (ngSubmit)="onsubmitt()">
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputEmail4">Surface:</label>
          <input type="number" class="form-control " id="inputEmail4" [(ngModel)]="surface" name="area" placeholder="Surface">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Nombre de chambres:</label>
          <input type="number" class="form-control " id="inputPassword4" [(ngModel)]="roomsNum" name="room">
        </div>
      </div>  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Localisation:</label>
          <select id="inputState" class="form-control" [(ngModel)]="localisation" name="localisation">
            <option selected>Bizerte</option>
            <option >Beja</option>
            <option >Jendouba</option>
            <option >Kef</option>
            <option >Zaghouan</option>
            <option >Ariana</option>
            <option >Ben_arous</option>
            <option >Tunis</option>
            <option >Mannouba</option>
            <option >Nabeul</option>
            <option >Sousse</option>
            <option >Mounastir</option>
            <option >Mahdia</option>
            <option >Kasserine</option>
            <option >Gafsa</option>
            <option >Sfax</option>
            <option >Gabes</option>
            <option >Tataouin</option>
            <option >Medennine</option>
            <option >Touzuer</option>
            <option >Kebeli</option>
            <option >Sidi_bouzid</option>
          </select> 
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Type d'offre</label>
          <select id="inputState" class="form-control" [(ngModel)]="offerType" name="offerType">
            <option selected>Rental</option>
            <option >Sale</option>
          </select> 
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary" id="bab" >Estimate</button>
    </form>
     </mat-dialog-actions>
    </mat-dialog-content>
     </body>
    </section> 